@* File: CustomApplicationWindowTemplateComponent.razor *@
@using DevExpress.ExpressApp
@using DevExpress.ExpressApp.Blazor
@using DevExpress.ExpressApp.Blazor.Components
@using DevExpress.ExpressApp.Blazor.Templates
@using Microsoft.JSInterop

@inherits FrameTemplateComponentBase<CustomApplicationWindowTemplate>

<div class="app h-100 d-flex flex-column">
    <div class="d-flex shadow-sm">
        @FrameTemplate.ShowNavigationItemActionControl.GetComponentContent(@<ViewCaptionComponent WindowCaption="@FrameTemplate" />                  )
        @FrameTemplate.AccountComponent.GetComponentContent()
        <SettingsComponent />
    </div>
    <div class="main xaf-flex-auto overflow-hidden d-flex flex-column">
        <SizeModeContainer>
            @if (FrameTemplate.IsActionsToolbarVisible && @FrameTemplate.Toolbar.ContainsVisibleActionControl())
            {
                <div class="main-toolbar py-3 px-2 px-sm-3">@FrameTemplate.Toolbar.GetComponentContent()</div>
            }
            <div class="main-content xaf-flex-auto overflow-auto pb-3 px-2 px-sm-3 d-flex flex-column">
                <div class="xaf-flex-auto">
                    <ViewSiteComponent View="@FrameTemplate.View" />
                </div>
                <div class="about-info text-muted mt-3">
                    @((MarkupString)FrameTemplate.AboutInfoString)
                </div>
            </div>
        </SizeModeContainer>
    </div>
</div>

@code {
    public static RenderFragment Create(CustomApplicationWindowTemplate applicationWindowTemplate) =>
    @<CustomApplicationWindowTemplateComponent FrameTemplate="@applicationWindowTemplate" />;
}